@mixin styleText($fs, $fw, $color) {
    font-size: $fs;
    font-weight: $fw;
    color: $color;
  }
  
  @mixin styleButton($bg, $pd-y, $pd-x,
   $bd, $radius, $ls, $textfont,$textcolor) {
    background-color: $bg;
    padding: $pd-y $pd-x;
    border-color: $bd;
    border-radius: $radius;
    letter-spacing: $ls;
    font-size: $textfont;
    color: $textcolor;
  }
  
  @mixin styleButtonHover($bg, $bd-color, $color) {
    background: $bg;
    border-color: $bd-color;
    color: $color;
  }
  
  // Ví dụ $screen là "large-down"
  @mixin responsive($screen) {
    // Kiểm tra xem giá trị của biến $screen có tồn tại trong danh sách $breakpoints hay không thông qua hàm map-has-key
    @if (map-has-key($map: $breakpoints, $key: $screen)) {
      // tạo biến $value thông qua hàm map-get, dựa vào giá trị key là $screen để lấy value bên trong danh sách $breakpoints
      $value: map-get(
        $map: $breakpoints,
        $key: $screen,
      );
  
      @media screen and (max-width: $value) {
        // Nội dung bên trong cặp ngoặc nhọn khi sử dụng mixin sẽ được đưa vào vị trí của @content
        @content;
      }
    } @else {
      @warn "màn hình chưa khai báo";
    }
  }
